body{
  text-align: center;
}
h2{
  padding: 20px;
}
p{
  padding-top: 10px;
}
.logo-start{

}
.header{
  height: 100px;
}
.logo{
  width:120px;
  float: left;
}
.nav1{
position: relative;

}
.container2{
  height: 30rem;
  position: relative;
  background-color:  #404040;
  background-image: url(../imgs/background.jpg);


}

.inside-container2{
  height: 75%;
  position: absolute;
  top: 50%;
  left: 40%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: rgb(166, 166, 166, 0.3);

}
.container3{
  text-align: center;
  width:100%;
  background-color:#d9d9d9	;
  padding: 80px;
}
.footer{
  text-align:center;
  padding:25px 0 ;
  margin: 0;
  background-color: #bfbfbf	;
}
.afoot{
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}
.youtubebtn{
  position: absolute;
  top:16rem;
  left: 40%;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 29px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.youtubebtn {
  background: #ed071b;
  background-image: -webkit-linear-gradient(top, #ed071b, #db003a);
  background-image: -moz-linear-gradient(top, #ed071b, #db003a);
  background-image: -ms-linear-gradient(top, #ed071b, #db003a);
  background-image: -o-linear-gradient(top, #ed071b, #db003a);
  background-image: linear-gradient(to bottom, #ed071b, #db003a);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 36px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.youtubebtn:hover {
  background: #d60000;
 background-image: -webkit-linear-gradient(top, #d60000, #ad0000);
 background-image: -moz-linear-gradient(top, #d60000, #ad0000);
 background-image: -ms-linear-gradient(top, #d60000, #ad0000);
 background-image: -o-linear-gradient(top, #d60000, #ad0000);
 background-image: linear-gradient(to bottom, #d60000, #ad0000);
 text-decoration: none;
}
